.post {
    width: 100%;
    background-color: darkseagreen;
    padding: 10px;
    margin: 10px;
    height: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}