.header_container {
    position: fixed;
    width: 400px;
    left: 0;
    top: 0;
    height: 100vh;
    background: #212121;
    box-sizing: border-box;
    border-right: 3px solid #CA3E47;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

.li_item{
    cursor: pointer;
    
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.li_text, .active {
    color: white;
    text-decoration: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 22px;
    font-weight: 700;
    transition: .1s;
    text-align: center;
}

.active {
    position: relative;
    border-bottom: #CA3E47 3px solid;
}

.active::after {
    position: absolute;
    top: 8px;
    right: 0px;
    
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
  
    border-right: 15px solid #CA3E47; 
    content: ' ';
    display: block;
    height: 0;
    width: 0;
}
